body{
    font-family: Garamond;
}

#baner, #stopka {
    background-color: #3CB371;
    color: white;
    padding: 10px;
    font-size: 130%;
    text-align: center;
}

#lewy {
    background-color: #FAEBD7;
    width: 55%;
    height: 450px;
    float: left;
}

#prawy {
    background-color: #FAEBD7;
    width: 45%;
    height: 450px;
    float: left;
}

img {
    padding: 30px;
    margin: 15px;
    border: 2px dashed #3CB371;

}

#stopka {
    clear: both;
}